version: 2

updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: weekly
      day: monday
      timezone: America/Buenos_Aires
    reviewers:
      - feniix
    commit-message:
      prefix: "deps"
      include: "scope"
    labels:
      - dependencies
      - python
    open-pull-requests-limit: 10

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      timezone: America/Buenos_Aires
    reviewers:
      - feniix
    commit-message:
      prefix: "ci"
      include: "scope"
    labels:
      - dependencies
      - ci
    open-pull-requests-limit: 5
