name: Dependency Review

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  dependency-review:
    name: Review
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Dependency Review
        uses: actions/dependency-review-action@v4.8.2
        with:
          fail-on-severity: critical
          comment-summary-in-pr: always
          deny-licenses: AGPL-3.0, GPL-3.0
